*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
*/bin/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.sc
.cache-main
.cache-tests
.classpath
.project
.settings
.bloop
.metals
*.swp
*.swo
.idea
out


#User
/*.vhd
/*.v
/*.sv
*.cf
*.json
*.tcl
*.vcd
*.pyc
*.vvp
*.xml
log.txt
/src/
*.out
*.o
*.bin
*.exe
*.so
*.dll
*.vpi
*.vpl

sim/yolo/adder
sim/yolo/shmem_name
sim/yolo/yolo/*
sim/yolo/verilatorScript.sh

/tester/**/*.gtkw
*.do

#testing related
/cocotb/
/iverilog-*
*_tb
/tester/**/sim_build/
/*.tar.gz
*.lst

simWorkspace/
tmp/
null/
command

sim/yolo/rtl/__simulation_def.v
sim/simulation_plugins/*
!sim/simulation_plugins/.gitignore
