*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
*/bin/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.sc
.cache-main
.cache-tests
.classpath
.project
.settings

.idea
out


#User
/*.vhd
/*.v
/*.sv
*.cf
*.json
*.tcl
*.vcd
*.pyc
*.vvp
*.xml
log.txt
/src/
*.out
*.o
*.bin
*.so
*.vpi
*.vpl

/tester/**/*.gtkw
*.do

#testing related
/cocotb/
/iverilog-*
*_tb
/tester/**/sim_build/
/*.tar.gz

simWorkspace/
tmp/
